body{
  background-color: whitesmoke;
  
}
h1{
  color: black;
  font: optional;
  font-size: 50px;
}
h2{
  color: black;
  font-size: 25px;
}

.img-all{
  box-sizing: :
  };
  flex: auto;
}



button{
color:red

}
